.vs/WebMvc/v15/.suo
WebMvc/App_Data/FlicksHotelDatabase.mdf
WebMvc/App_Data/FlicksHotelDatabase_log.ldf
WebMvc/bin/WebMvc.dll
.vs/WebMvc/v14/.suo
.vs/WebMvc/v15/sqlite3/storage.ide
WebMvc/WebMvc.csproj.user
WebMvc/bin/WebMvc.pdb
WebMvc/obj/Debug/WebMvc.csproj.CopyComplete
WebMvc/obj/Debug/WebMvc.csproj.CoreCompileInputs.cache
WebMvc/obj/Debug/WebMvc.csproj.FileListAbsolute.txt
WebMvc/obj/Debug/WebMvc.csprojResolveAssemblyReference.cache
WebMvc/obj/Debug/WebMvc.dll
WebMvc/obj/Debug/WebMvc.pdb
